<div id="layer">
<table width="930" height="600" border="3" bordercolor="#888888" cellspacing="0">
<tr class="tr1">
<td rowspan="3" width="210"><image src="/public/yk.gif" align="right"></td>
<td class="td2"></td>
</tr>
<tr class="tr1">
<td class="td3">5DI1AI1AO3DO扩展模块-{{V001}}数字量输出口{{V002}}</td>
</tr>
<tr class="tr1">
<td class="td2">&nbsp/<form style="margin:0px;display:inline;" action="/extend.html" method="GET" name="f1"><input name="W" value="34" type="hidden"><a href="javascript:f1.submit();">扩展模块配置</a></form>/<a href="ioext.html">IO口扩展模块</a>/<form style="margin:0px;display:inline;" action="/5di1ai1ao3doext.html" method="GET" name="f2"><input name="W" value="79" type="hidden"><a href="javascript:f2.submit();">5DI1AI1AO3DO扩展模块</a></form>/<form style="margin:0px;display:inline;" action="/5di1ai1ao3doextcfg.html" method="GET" name="f3"><input name="W" value="80" type="hidden"><a href="javascript:f3.submit();">5DI1AI1AO3DO扩展模块-{{V001}}配置</a></form>/<form style="margin:0px;display:inline;" action="/5di1ai1ao3dodopins.html" method="GET" name="f4"><input name="W" value="88" type="hidden"><a href="javascript:f4.submit();">5DI1AI1AO3DO扩展模块-{{V001}}数字量输出口</a></form></td>
</tr>
<tr class="tr2">
<td class="td1" valign="top">
<div id="navigation">
<ul>
<li><a href="index.html">控制器配置</a></li>
<li><a href="ddcpins.html">输入/输出口配置</a></li>
<li><form action="/extend.html" method="GET" name="e3"><input name="W" value="34" type="hidden"><a href="javascript:e3.submit();">扩展模块</a></form></li>
<li><a href="pcfg.html">功能模块配置</a></li>
<li><a href="jump.html">硬件</a></li>
<li><form action="/systime.html" method="GET" name="e2"><input name="W" value="8" type="hidden"><a href="javascript:e2.submit();">日期/时间</a></form></li>
<li><form action="/backup.html" method="GET" name="e1"><input name="W" value="75" type="hidden"><a href="javascript:e1.submit();">配置数据备份</a></form></li>
</ul>
</div>
</td>
<td class="td2" align="left" valign="top"><br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<form action="/5di1ai1ao3dodopins.html" method="GET"><input name="W" value="88" type="hidden"><input class="img1" type="image" src="/public/ret.gif"/></form>
{{&V004}}
<table class="t1" cellspacing="0" height="{{V003}}">

{{&V006}}<tr {{V032}}>
<td class="t1d1"><input class="imagebutton" type="image" src="/public/d.gif"/></td>
<td class="t1d2">输入源</td>
<td class="t1d3"><form action="/libd.html" method="GET" name="f5"><input name="W" value="4" type="hidden"><input name="C" value="{{V045}}" type="hidden"/><input name="V" value="{{V056}}" type="hidden"/><input name="RET" value="/5di1ai1ao3dodocfg.html" type="hidden"/><input name="RETW" value="89" type="hidden"><a href="javascript:f5.submit();">{{V067}}</a></form></td></tr>{{&V007}}

{{&V008}}<tr {{V033}}>
<td class="t1d1"><form action="DOcfg.html" method="GET"><input name="W" value="89" type="hidden"><input name="DEL" value="2" type="hidden"/><input class="imagebutton" type="image" src="/public/d.gif" alt="delet" title="delet"/></form></td>
<td class="t1d2">缺省输入</td>
<td class="t1d3"><form action="/onoffl.html" method="GET" name="f6"><input name="W" value="4" type="hidden"><input name="C" value="{{V046}}" type="hidden"/><input name="V" value="<%57}}" type="hidden"/><input name="RET" value="/5di1ai1ao3dodocfg.html" type="hidden"/><input name="RETW" value="89" type="hidden"><a href="javascript:f6.submit();">{{V068}}</a></form></td></tr>{{&V009}}

{{&V010}}<tr {{V034}}>
<td class="t1d1"><form action="DOcfg.html" method="GET"><input name="W" value="89" type="hidden"><input name="DEL" value="3" type="hidden"/><input class="imagebutton" type="image" src="/public/d.gif" alt="delet" title="delet"/></form></td>
<td class="t1d2">输入防抖时间</td>
<td class="t1d3"><form action="/txt.html" method="GET" name="f7"><input name="W" value="7" type="hidden"><input name="C" value="{{V047}}" type="hidden"/><input name="V" value="{{V058}}" type="hidden"/><input name="RET" value="/5di1ai1ao3dodocfg.html" type="hidden"/><input name="RETW" value="89" type="hidden"><a href="javascript:f7.submit();">{{V058}}ms</a></form></td></tr>{{&V011}}

{{&V012}}<tr {{V035}}>
<td class="t1d1"><form action="DOcfg.html" method="GET"><input name="W" value="89" type="hidden"><input name="DEL" value="4" type="hidden"/><input class="imagebutton" type="image" src="/public/d.gif" alt="delet" title="delet"/></form></td>
<td class="t1d2">输入取反</td>
<td class="t1d3"><form action="/polarityl.html" method="GET" name="f8"><input name="W" value="4" type="hidden"><input name="C" value="{{V048}}" type="hidden"/><input name="V" value="{{V059}}" type="hidden"/><input name="RET" value="/5di1ai1ao3dodocfg.html" type="hidden"/><input name="RETW" value="89" type="hidden"><a href="javascript:f8.submit();">{{V069}}</a></form></td></tr>{{&V013}}

{{&V014}}<tr {{V036}}>
<td class="t1d1"><form action="DOcfg.html" method="GET"><input name="W" value="89" type="hidden"><input name="DEL" value="5" type="hidden"/><input class="imagebutton" type="image" src="/public/d.gif" alt="delet" title="delet"/></form></td>
<td class="t1d2">处理模式</td>
<td class="t1d3"><form action="/domodel.html" method="GET" name="f9"><input name="W" value="4" type="hidden"><input name="C" value="{{V049}}" type="hidden"/><input name="V" value="{{V060}}" type="hidden"/><input name="RET" value="/5di1ai1ao3dodocfg.html" type="hidden"/><input name="RETW" value="89" type="hidden"><a href="javascript:f9.submit();">{{V070}}</a></form></td></tr>{{&V015}}

{{&V016}}<tr {{V037}}>
<td class="t1d1"><input class="imagebutton" type="image" src="/public/d.gif"/></td>
<td class="t1d2">低变高延迟时间</td>
<td class="t1d3"><form action="/txt.html" method="GET" name="fa"><input name="W" value="7" type="hidden"><input name="C" value="{{V050}}" type="hidden"/><input name="V" value="{{V061}}" type="hidden"/><input name="RET" value="/5di1ai1ao3dodocfg.html" type="hidden"/><input name="RETW" value="89" type="hidden"><a href="javascript:fa.submit();">{{V061}}s</a></form></td></tr>{{&V017}}

{{&V018}}<tr {{V038}}>
<td class="t1d1"><input class="imagebutton" type="image" src="/public/d.gif"/></td>
<td class="t1d2">高变低延迟时间</td>
<td class="t1d3"><form action="/txt.html" method="GET" name="fb"><input name="W" value="7" type="hidden"><input name="C" value="{{V051}}" type="hidden"/><input name="V" value="{{V062}}" type="hidden"/><input name="RET" value="/5di1ai1ao3dodocfg.html" type="hidden"/><input name="RETW" value="89" type="hidden"><a href="javascript:fb.submit();">{{V062}}s</a></form></td></tr>{{&V019}}

{{&V020}}<tr {{V039}}>
<td class="t1d1"><form action="DOcfg.html" method="GET"><input name="W" value="89" type="hidden"><input name="DEL" value="8" type="hidden"/><input class="imagebutton" type="image" src="/public/d.gif" alt="delet" title="delet"/></form></td>
<td class="t1d2">输出取反</td>
<td class="t1d3"><form action="/polarityl.html" method="GET" name="fc"><input name="W" value="4" type="hidden"><input name="C" value="{{V052}}" type="hidden"/><input name="V" value="{{V063}}" type="hidden"/><input name="RET" value="/5di1ai1ao3dodocfg.html" type="hidden"/><input name="RETW" value="89" type="hidden"><a href="javascript:fc.submit();">{{V071}}</a></form></td></tr>{{&V021}}

{{&V022}}<tr {{V040}}>
<td class="t1d1"><input class="imagebutton" type="image" src="/public/d.gif"/></td>
<td class="t1d2">最小高电平时间</td>
<td class="t1d3"><form action="/txt.html" method="GET" name="fd"><input name="W" value="7" type="hidden"><input name="C" value="{{V053}}" type="hidden"/><input name="V" value="{{V064}}" type="hidden"/><input name="RET" value="/5di1ai1ao3dodocfg.html" type="hidden"/><input name="RETW" value="89" type="hidden"><a href="javascript:fd.submit();">{{V064}}s</a></form></td></tr>{{&V023}}

{{&V024}}<tr {{V041}}>
<td class="t1d1"><input class="imagebutton" type="image" src="/public/d.gif"/></td>
<td class="t1d2">最小低电平时间</td>
<td class="t1d3"><form action="/txt.html" method="GET" name="fe"><input name="W" value="7" type="hidden"><input name="C" value="{{V054}}" type="hidden"/><input name="V" value="{{V065}}" type="hidden"/><input name="RET" value="/5di1ai1ao3dodocfg.html" type="hidden"/><input name="RETW" value="89" type="hidden"><a href="javascript:fe.submit();">{{V065}}s</a></form></td></tr>{{&V025}}

{{&V026}}<tr {{V042}}>
<td class="t1d1"><form action="DOcfg.html" method="GET"><input name="W" value="89" type="hidden"><input name="DEL" value="11" type="hidden"/><input class="imagebutton" type="image" src="/public/d.gif" alt="delet" title="delet"/></form></td>
<td class="t1d2">缺省输出</td>
<td class="t1d3"><form action="/onoffl.html" method="GET" name="ff"><input name="W" value="4" type="hidden"><input name="C" value="{{V055}}" type="hidden"/><input name="V" value="{{V066}}" type="hidden"/><input name="RET" value="/5di1ai1ao3dodocfg.html" type="hidden"/><input name="RETW" value="89" type="hidden"><a href="javascript:ff.submit();">{{V072}}</a></form></td></tr>{{&V027}}

{{&V028}}<tr {{V043}}>
<td class="t1d1"><form action="DOcfg.html" method="GET"><input name="W" value="89" type="hidden"><input name="DEL" value="12" type="hidden"/><input class="imagebutton" type="image" src="/public/d.gif" alt="delet" title="delet"/></form></td>
<td class="t1d2"><form action="{{V073}}" method="GET" name="fg"><input name="W" value="{{V076}}" type="hidden"><input name="CH" value="{{V075}}" type="hidden"/><input name="BACRET" value="/5di1ai1ao3dodocfg.html" type="hidden"/><input name="RETW" value="89" type="hidden"><a href="javascript:fg.submit();">{{V074}}</a></form></td>
<td class="t1d3"></td></tr>{{&V029}}

{{&V030}}<tr {{V044}}>
<td class="t1d1"><form action="DOcfg.html" method="GET"><input name="W" value="89" type="hidden"><input name="DEL" value="13" type="hidden"/><input class="imagebutton" type="image" src="/public/d.gif" alt="delet" title="delet"/></form></td>
<td class="t1d2"><form action="{{V077}}" method="GET" name="fh"><input name="W" value="{{V080}}" type="hidden"><input name="CH" value="{{V079}}" type="hidden"/><input name="BACRET" value="/5di1ai1ao3dodocfg.html" type="hidden"/><input name="RETW" value="89" type="hidden"><a href="javascript:fh.submit();">{{V078}}</a></form></td>
<td class="t1d3"></td></tr>{{&V031}}

</table>
{{&V005}}
<div class="t2"  align="center"><form action="/5di1ai1ao3dodocfgadd.html" method="GET" name="fi"><input name="W" value="90" type="hidden"><a href="javascript:fi.submit()">添加配置量</a></form></div>
</td>
</tr>
</table>
</div>
<page_property id="my_page" autoreload="false" autoreloadtime=1 title="上海源控自动化技术有限公司"></page_property>