<div id="layer">
<table width="930" height="600" border="3" bordercolor="#888888" cellspacing="0">
<tr class="tr1">
<td rowspan="3" width="210"><image src="/public/yk.gif" align="right"></td>
<td class="td2"></td>
</tr>
<tr class="tr1">
<td class="td3">风阀参数配置</td>
</tr>
<tr class="tr1">
<td class="td2">&nbsp/<a href="pcfg.html">功能模块配置</a>/<form style="margin:0px;display:inline;" action="/ac.html" method="GET" name="f1"><input name="W" value="65" type="hidden"><a href="javascript:f1.submit();">空调系统功能模块</a></form>/<form style="margin:0px;display:inline;" action="/accfg.html" method="GET" name="f2"><input name="W" value="66" type="hidden"><input name="subCW" value="8" type="hidden"/><a href="javascript:f2.submit();">空调系统功能模块{{V001}}配置</a></form></td>
</tr>
<tr class="tr2">
<td class="td1" valign="top">
<div id="navigation">
<ul>
<li><a href="index.html">控制器配置</a></li>
<li><a href="ddcpins.html">输入/输出口配置</a></li>
<li><form action="/extend.html" method="GET" name="e3"><input name="W" value="34" type="hidden"><a href="javascript:e3.submit();">扩展模块</a></form></li>
<li><a href="pcfg.html">功能模块配置</a></li>
<li><a href="jump.html">硬件</a></li>
<li><form action="/systime.html" method="GET" name="e2"><input name="W" value="8" type="hidden"><a href="javascript:e2.submit();">日期/时间</a></form></li>
<li><form action="/backup.html" method="GET" name="e1"><input name="W" value="75" type="hidden"><a href="javascript:e1.submit();">配置数据备份</a></form></li>
</ul>
</div>
</td>
<td class="td2" align="left" valign="top"><br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<form action="/accfg.html" method="GET"><input name="W" value="66" type="hidden"><input name="subCW" value="8" type="hidden"/><input class="img1" type="image" src="/public/ret.gif"/></form>
<table class="t1" cellspacing="0" height="{{V054}}">

<tr><td class="t1d1">1</td><td class="t1d2">风阀手自动默认值</td>
<td class="t1d3"><form action="/aml.html" method="GET" name="f3"><input name="W" value="4" type="hidden"/><input name="C" value="9707" type="hidden"/><input name="V" value="{{V062}}" type="hidden"/><input name="RET" value="/acavp.html" type="hidden"/><input name="RETW" value="66" type="hidden"/><a href="javascript:f3.submit();">{{V114}}</a></form></td></tr>

<tr class="t1r1"><td class="t1d1">2</td><td class="t1d2">新风阀类型</td>
<td class="t1d3"><form action="/acavtl.html" method="GET" name="f4"><input name="W" value="4" type="hidden"/><input name="C" value="9733" type="hidden"/><input name="V" value="{{V087}}" type="hidden"/><input name="RET" value="/acavp.html" type="hidden"/><input name="RETW" value="66" type="hidden"/><a href="javascript:f4.submit();" onclick="javascript:if(confirm('请确保先删除与新风阀关联的BACnet点，否则将无法改变新风阀类型'))document.f4.submit();else return false;">{{V127}}</a></form></td></tr>

<tr><td class="t1d1">3</td><td class="t1d2">风阀最大行程时间</td>
<td class="t1d3"><form action="/txt.html" method="GET" name="f5"><input name="W" value="7" type="hidden"/><input name="C" value="9737" type="hidden"/><input name="V" value="{{V091}}" type="hidden"/><input name="RET" value="/acavp.html" type="hidden"/><input name="RETW" value="66" type="hidden"/><a href="javascript:f5.submit();">{{V091}}</a>秒</form></td></tr>

{{&V034}}<tr class="t1r1"><td class="t1d1">4</td><td class="t1d2">风阀最大开度</td>
<td class="t1d3"><form action="/txt.html" method="GET" name="f6"><input name="W" value="7" type="hidden"/><input name="C" value="9735" type="hidden"/><input name="V" value="{{V089}}" type="hidden"/><input name="RET" value="/acavp.html" type="hidden"/><input name="RETW" value="66" type="hidden"/><a href="javascript:f6.submit();">{{V089}}</a>%</form></td></tr>
<tr><td class="t1d1">5</td><td class="t1d2">风阀最小开度</td>
<td class="t1d3"><form action="/txt.html" method="GET" name="f7"><input name="W" value="7" type="hidden"/><input name="C" value="9736" type="hidden"/><input name="V" value="{{V090}}" type="hidden"/><input name="RET" value="/acavp.html" type="hidden"/><input name="RETW" value="66" type="hidden"/><a href="javascript:f7.submit();">{{V090}}</a>%</form></td></tr>{{&V035}}
</table>
</td>
</tr>
</table>
</div>
<page_property id="my_page" autoreload="false" autoreloadtime=3 title="上海源控自动化技术有限公司"></page_property>
