<div id="layer">
<table width="930" height="600" border="3" bordercolor="#888888" cellspacing="0">
<tr class="tr1">
<td rowspan="3" width="210"><image src="/public/yk.gif" align="right"></td>
<td class="td2"></td>
</tr>
<tr class="tr1">
<td class="td3">日期设置</td>
</tr>
<tr class="tr1">
<td class="td2"></td>
</tr>
<tr class="tr2">
<td class="td1" valign="top">
<div id="navigation">
<ul>
<li><a href="index.html">控制器配置</a></li>
<li><a href="ddcpins.html">输入/输出口配置</a></li>
<li><form action="/extend.html" method="GET" name="e3"><input name="W" value="34" type="hidden"><a href="javascript:e3.submit();">扩展模块</a></form></li>
<li><a href="pcfg.html">功能模块配置</a></li>
<li><a href="jump.html">硬件</a></li>
<li><form action="/systime.html" method="GET" name="e2"><input name="W" value="8" type="hidden"><a href="javascript:e2.submit();">日期/时间</a></form></li>
<li><form action="/backup.html" method="GET" name="e1"><input name="W" value="75" type="hidden"><a href="javascript:e1.submit();">配置数据备份</a></form></li>
</ul>
</div>
</td>
<td class="td2" align="left" valign="top"><br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<form action="/schcfg.html" method="GET" name="f1"><input name="W" value="66" type="hidden"><input name="subW" value="1" type="hidden"><input name="C" value="{{V001}}" type="hidden">
<table class="t1" cellspacing="0" height="90">
<tr>
<td class="t1d1">年</td>
<td class="t1d2"><input name="D1" type="text" size="15" maxlength="4" value="{{V002}}"/></td>
<td></td></tr>
<tr>
<td class="t1d1">月</td>
<td class="t1d2"><input name="D2" type="text" size="15" maxlength="2" value="{{V003}}"/></td>
<td></td></tr>
<tr>
<td class="t1d1">日</td>
<td class="t1d2"><input name="D3" type="text" size="15" maxlength="2" value="{{V004}}"/></td>
<td></td></tr>
</table>
<div id="bhref1">
<input class="button3" type="submit" value="确定"/>
</div>
</form>
<form action="/schcfg.html" method="GET" name="f2">
<input name="W" value="66" type="hidden"><input name="subW" value="1" type="hidden">
<div id="bhref1">
<input class="button3" type="submit" value="取消" onclick="javascript:document.f2.submit();"/>
</div>
</form>
</td>
</tr>
</table>
</div>
<page_property id="my_page" autoreload="false" autoreloadtime=3 title="上海源控自动化技术有限公司"></page_property>