<div id="layer">
<table width="930" height="600" border="3" bordercolor="#888888" cellspacing="0">
<tr class="tr1">
<td rowspan="3" width="210"><image src="/public/yk.gif" align="right"></td>
<td class="td2"></td>
</tr>
<tr class="tr1">
<td class="td3">输入变量属性配置</td>
</tr>
<tr class="tr1">
<td class="td2">&nbsp/<a href="pcfg.html">功能模块配置</a>/<form style="margin:0px;display:inline;" action="/delay.html" method="GET" name="f1"><input name="W" value="72" type="hidden"><a href="javascript:f1.submit();">延时功能模块配置</a></form>/<form style="margin:0px;display:inline;" action="/delaycfg.html" method="GET" name="f2"><input name="W" value="73" type="hidden"><a href="javascript:f2.submit();">延时功能模块{{V001}}配置</a></form></td>
</tr>
<tr class="tr2">
<td class="td1" valign="top">
<div id="navigation">
<ul>
<li><a href="index.html">控制器配置</a></li>
<li><a href="ddcpins.html">输入/输出口配置</a></li>
<li><form action="/extend.html" method="GET" name="e3"><input name="W" value="34" type="hidden"><a href="javascript:e3.submit();">扩展模块</a></form></li>
<li><a href="pcfg.html">功能模块配置</a></li>
<li><a href="jump.html">硬件</a></li>
<li><form action="/systime.html" method="GET" name="e2"><input name="W" value="8" type="hidden"><a href="javascript:e2.submit();">日期/时间</a></form></li>
<li><form action="/backup.html" method="GET" name="e1"><input name="W" value="75" type="hidden"><a href="javascript:e1.submit();">配置数据备份</a></form></li>
</ul>
</div>
</td>
<td class="td2" align="left" valign="top"><br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<form action="/delaycfg.html" method="GET"><input name="W" value="73" type="hidden"><input class="img1" type="image" src="/public/ret.gif"/></form>
<table class="t1" cellspacing="0" height="{{V004}}">
<tr>
<td class="t1d1"><input class="imagebutton" type="image" src="/public/d.gif"/></td>
<td class="t1d2">输入源</td>
<td class="t1d3"><form action="/libd.html" method="GET" name="f3"><input name="W" value="4" type="hidden"/><input name="C" value="{{V011}}" type="hidden"/><input name="V" value="{{V012}}" type="hidden"/><input name="RET" value="/delaynvicfg.html" type="hidden"/><input name="RETW" value="40" type="hidden"/><a href="javascript:f3.submit();">{{V013}}</a></form></td></tr>
{{&V002}}<tr class="t1r1"><td class="t1d1"><form action="/delaynvicfg.html" method="GET" name="f4"><input name="W" value="40" type="hidden"><input name="DEL" value="{{V005}}" type="hidden"><input class="imagebutton" type="image" src="/public/d.gif" alt="delet" title="delet"/></form></td>
<td class="t1d2"><form action="{{V006}}" method="GET" name="f5"><input name="W" value="{{V009}}" type="hidden"><input name="CH" value="{{V007}}" type="hidden"><input name="BACRET" value="/delaynvicfg.html" type="hidden"/><input name="RETW" value="40" type="hidden"><a href="javascript:f5.submit();">{{V008}}</a></form></td>
<td class="t1d3"></td></tr>{{&V003}}
</table>
<div class="t2"  align="center"><form action="/delaynvcfgadd.html" method="GET" name="f6"><input name="W" value="40" type="hidden"><input name="ADDW" value="1" type="hidden"><a href="javascript:f6.submit();">关联BACnet点</a></form></div>
</td>
</tr>
</table>
</div>
<page_property id="my_page" autoreload="false" autoreloadtime=1 title="上海源控自动化技术有限公司"></page_property>