<div id="layer">
<table width="930" height="600" border="3" bordercolor="#888888" cellspacing="0">
<tr class="tr1">
<td rowspan="3" width="210"><image src="/public/yk.gif" align="right"></td>
<td class="td2"></td>
</tr>
<tr class="tr1">
<td class="td3">测量数据区</td>
</tr>
<tr class="tr1">
<td class="td2">&nbsp/<form style="margin:0px;display:inline;" action="/extend.html" method="GET" name="f1"><input name="W" value="34" type="hidden"><a href="javascript:f1.submit();">扩展模块配置</a></form>/<a href="elemodule.html">电能计量模块</a></td>
</tr>
<tr class="tr2">
<td class="td1" valign="top">
<div id="navigation">
<ul>
<li><a href="index.html">控制器配置</a></li>
<li><a href="ddcpins.html">输入/输出口配置</a></li>
<li><form action="/extend.html" method="GET" name="e3"><input name="W" value="34" type="hidden"><a href="javascript:e3.submit();">扩展模块</a></form></li>
<li><a href="pcfg.html">功能模块配置</a></li>
<li><a href="jump.html">硬件</a></li>
<li><form action="/systime.html" method="GET" name="e2"><input name="W" value="8" type="hidden"><a href="javascript:e2.submit();">日期/时间</a></form></li>
<li><form action="/backup.html" method="GET" name="e1"><input name="W" value="75" type="hidden"><a href="javascript:e1.submit();">配置数据备份</a></form></li>
</ul>
</div>
</td>
<td class="td2" align="left" valign="top"><br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<a href="elemodule.html"><img class="img1" src="/public/ret.gif"/></a>
<table class="t1" cellspacing="0" height="425">
<tr><td class="t1d1"><form action="/elemeasurenvocfg.html" method="GET" name="f2"><input name="W" value="40" type="hidden"><input name="NV" value="9327" type="hidden"/><input class="imagebutton" type="image" src="/public/config.gif" alt="Attachment object" title="Attachment object"/></form></td>
<td class="t1d2">AB线电压</td>
<td class="t1d3">{{V000}}V</td></tr>

<tr class="t1r1"><td class="t1d1"><form action="/elemeasurenvocfg.html" method="GET" name="f3"><input name="W" value="40" type="hidden"><input name="NV" value="9328" type="hidden"/><input class="imagebutton" type="image" src="/public/config.gif" alt="Attachment object" title="Attachment object"/></form></td>
<td class="t1d2">AC线电压</td>
<td class="t1d3">{{V001}}V</td></tr>

<tr><td class="t1d1"><form action="/elemeasurenvocfg.html" method="GET" name="f4"><input name="W" value="40" type="hidden"><input name="NV" value="9329" type="hidden"/><input class="imagebutton" type="image" src="/public/config.gif" alt="Attachment object" title="Attachment object"/></form></td>
<td class="t1d2">BC线电压</td>
<td class="t1d3">{{V002}}V</td></tr>

<tr class="t1r1"><td class="t1d1"><form action="/elemeasurenvocfg.html" method="GET" name="f5"><input name="W" value="40" type="hidden"><input name="NV" value="9330" type="hidden"/><input class="imagebutton" type="image" src="/public/config.gif" alt="Attachment object" title="Attachment object"/></form></td>
<td class="t1d2">A相电压</td>
<td class="t1d3">{{V003}}V</td></tr>

<tr><td class="t1d1"><form action="/elemeasurenvocfg.html" method="GET" name="f6"><input name="W" value="40" type="hidden"><input name="NV" value="9331" type="hidden"/><input class="imagebutton" type="image" src="/public/config.gif" alt="Attachment object" title="Attachment object"/></form></td>
<td class="t1d2">B相电压</td>
<td class="t1d3">{{V004}}V</td></tr>

<tr class="t1r1"><td class="t1d1"><form action="/elemeasurenvocfg.html" method="GET" name="f7"><input name="W" value="40" type="hidden"><input name="NV" value="9332" type="hidden"/><input class="imagebutton" type="image" src="/public/config.gif" alt="Attachment object" title="Attachment object"/></form></td>
<td class="t1d2">C相电压</td>
<td class="t1d3">{{V005}}V</td></tr>

<tr><td class="t1d1"><form action="/elemeasurenvocfg.html" method="GET" name="f8"><input name="W" value="40" type="hidden"><input name="NV" value="9333" type="hidden"/><input class="imagebutton" type="image" src="/public/config.gif" alt="Attachment object" title="Attachment object"/></form></td>
<td class="t1d2">A相电流</td>
<td class="t1d3">{{V006}}A</td></tr>

<tr class="t1r1"><td class="t1d1"><form action="/elemeasurenvocfg.html" method="GET" name="f9"><input name="W" value="40" type="hidden"><input name="NV" value="9334" type="hidden"/><input class="imagebutton" type="image" src="/public/config.gif" alt="Attachment object" title="Attachment object"/></form></td>
<td class="t1d2">B相电流</td>
<td class="t1d3">{{V007}}A</td></tr>

<tr><td class="t1d1"><form action="/elemeasurenvocfg.html" method="GET" name="fa"><input name="W" value="40" type="hidden"><input name="NV" value="9335" type="hidden"/><input class="imagebutton" type="image" src="/public/config.gif" alt="Attachment object" title="Attachment object"/></form></td>
<td class="t1d2">C相电流</td>
<td class="t1d3">{{V008}}A</td></tr>

<tr class="t1r1"><td class="t1d1"><form action="/elemeasurenvocfg.html" method="GET" name="fb"><input name="W" value="40" type="hidden"><input name="NV" value="9336" type="hidden"/><input class="imagebutton" type="image" src="/public/config.gif" alt="Attachment object" title="Attachment object"/></form></td>
<td class="t1d2">漏电电流</td>
<td class="t1d3">{{V009}}A</td></tr>

<tr><td class="t1d1"><form action="/elemeasurenvocfg.html" method="GET" name="fc"><input name="W" value="40" type="hidden"><input name="NV" value="9337" type="hidden"/><input class="imagebutton" type="image" src="/public/config.gif" alt="Attachment object" title="Attachment object"/></form></td>
<td class="t1d2">三相电流不平衡度</td>
<td class="t1d3">{{V010}}A</td></tr>

<tr class="t1r1"><td class="t1d1"><form action="/elemeasurenvocfg.html" method="GET" name="fd"><input name="W" value="40" type="hidden"><input name="NV" value="9338" type="hidden"/><input class="imagebutton" type="image" src="/public/config.gif" alt="Attachment object" title="Attachment object"/></form></td>
<td class="t1d2">有功功率</td>
<td class="t1d3">{{V011}}W</td></tr>

<tr><td class="t1d1"><form action="/elemeasurenvocfg.html" method="GET" name="fe"><input name="W" value="40" type="hidden"><input name="NV" value="9339" type="hidden"/><input class="imagebutton" type="image" src="/public/config.gif" alt="Attachment object" title="Attachment object"/></form></td>
<td class="t1d2">无功功率</td>
<td class="t1d3">{{V012}}Var</td></tr>

<tr class="t1r1"><td class="t1d1"><form action="/elemeasurenvocfg.html" method="GET" name="ff"><input name="W" value="40" type="hidden"><input name="NV" value="9340" type="hidden"/><input class="imagebutton" type="image" src="/public/config.gif" alt="Attachment object" title="Attachment object"/></form></td>
<td class="t1d2">视在功率</td>
<td class="t1d3">{{V013}}VA</td></tr>

<tr><td class="t1d1"><form action="/elemeasurenvocfg.html" method="GET" name="fg"><input name="W" value="40" type="hidden"><input name="NV" value="9341" type="hidden"/><input class="imagebutton" type="image" src="/public/config.gif" alt="Attachment object" title="Attachment object"/></form></td>
<td class="t1d2">功率因数</td>
<td class="t1d3">{{V014}}</td></tr>

<tr class="t1r1"><td class="t1d1"><form action="/elemeasurenvocfg.html" method="GET" name="fh"><input name="W" value="40" type="hidden"><input name="NV" value="9342" type="hidden"/><input class="imagebutton" type="image" src="/public/config.gif" alt="Attachment object" title="Attachment object"/></form></td>
<td class="t1d2">电网频率</td>
<td class="t1d3">{{V015}}Hz</td></tr>

<tr><td class="t1d1"><form action="/elemeasurenvocfg.html" method="GET" name="fi"><input name="W" value="40" type="hidden"><input name="NV" value="9343" type="hidden"/><input class="imagebutton" type="image" src="/public/config.gif" alt="Attachment object" title="Attachment object"/></form></td>
<td class="t1d2">正向有功电能</td>
<td class="t1d3">{{V016}}Wh</td></tr>

<tr class="t1r1"><td class="t1d1"><form action="/elemeasurenvocfg.html" method="GET" name="fj"><input name="W" value="40" type="hidden"><input name="NV" value="9344" type="hidden"/><input class="imagebutton" type="image" src="/public/config.gif" alt="Attachment object" title="Attachment object"/></form></td>
<td class="t1d2">反向有功电能</td>
<td class="t1d3">{{V017}}Wh</td></tr>

<tr><td class="t1d1"><form action="/elemeasurenvocfg.html" method="GET" name="fk"><input name="W" value="40" type="hidden"><input name="NV" value="9345" type="hidden"/><input class="imagebutton" type="image" src="/public/config.gif" alt="Attachment object" title="Attachment object"/></form></td>
<td class="t1d2">正向无功电能</td>
<td class="t1d3">{{V018}}Varh</td></tr>

<tr class="t1r1"><td class="t1d1"><form action="/elemeasurenvocfg.html" method="GET" name="fl"><input name="W" value="40" type="hidden"><input name="NV" value="9346" type="hidden"/><input class="imagebutton" type="image" src="/public/config.gif" alt="Attachment object" title="Attachment object"/></form></td>
<td class="t1d2">反向无功电能</td>
<td class="t1d3">{{V019}}Varh</td></tr>

</table>
</td>
</tr>
</table>
</div>
<page_property id="my_page" autoreload="true" autoreloadtime=1 title="上海源控自动化技术有限公司"></page_property>