<div id="layer">
<table width="930" height="600" border="3" bordercolor="#888888" cellspacing="0">
<tr class="tr1">
<td rowspan="3" width="210"><image src="/public/yk.gif" align="right"></td>
<td class="td2"></td>
</tr>
<tr class="tr1">
<td class="td3">参数修改</td>
</tr>
<tr class="tr1">
<td class="td2"></td>
</tr>
<tr class="tr2">
<td class="td1" valign="top">
<div id="navigation">
<ul>
<li><a href="index.html">控制器配置</a></li>
<li><a href="ddcpins.html">输入/输出口配置</a></li>
<li><form action="/extend.html" method="GET" name="e3"><input name="W" value="34" type="hidden"><a href="javascript:e3.submit();">扩展模块</a></form></li>
<li><a href="pcfg.html">功能模块配置</a></li>
<li><a href="jump.html">硬件</a></li>
<li><form action="/systime.html" method="GET" name="e2"><input name="W" value="8" type="hidden"><a href="javascript:e2.submit();">日期/时间</a></form></li>
<li><form action="/backup.html" method="GET" name="e1"><input name="W" value="75" type="hidden"><a href="javascript:e1.submit();">配置数据备份</a></form></li>
</ul>
</div>
</td>
<td class="td2" align="left" valign="top"><br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<form action="{{V001}}" method="GET" name="f2"><input name="W" value="{{V002}}" type="hidden"/><input name="C" value="{{V003}}" type="hidden"/><input name="NS" value="{{V099}}" type="hidden"/>
<table class="t1" cellspacing="0" height="30">
<tr>
<td class="t1d4">设置值</td>
<td class="t1d2">
<select name="L">
<option value="0" selected>None</option>
<option value="1" >DI_1</option>
<option value="2" >DI_2</option>
<option value="3" >DI_3</option>
<option value="4" >DI_4</option>
<option value="5" >DI_5</option>
<option value="6" >DI_6</option>
<option value="7" >UI_1</option>
<option value="8" >UI_2</option>
<option value="9" >UI_3</option>
<option value="10" >UI_4</option>
<option value="11" >UI_5</option>
<option value="12" >UI_6</option>
<option value="13" >UI_7</option>
<option value="14" >UI_8</option>
<option value="15" >UI_9</option>
<option value="16" >UI_10</option>
<option value="17" >UI_11</option>
<option value="28" >Schedule_1</option>
<option value="29" >Schedule_2</option>
<option value="30" >Schedule_3</option>
<option value="31" >Schedule_4</option>
<option value="32" >Schedule_5</option>
<option value="33" >Schedule_6</option>
<option value="34" >Schedule_7</option>
<option value="35" >Schedule_8</option>
<option value="36" >Schedule_9</option>
<option value="37" >Schedule_10</option>
<option value="38" >Delay_1</option>
<option value="39" >Delay_2</option>
<option value="40" >Delay_3</option>
<option value="41" >Delay_4</option>
<option value="42" >Delay_5</option>
<option value="43" >Delay_6</option>
<option value="44" >Delay_7</option>
<option value="45" >Delay_8</option>
<option value="46" >Delay_9</option>
<option value="47" >Delay_10</option>
<option value="48" >Delay_11</option>
<option value="49" >Delay_12</option>
<option value="50" >Delay_13</option>
<option value="51" >Delay_14</option>
<option value="52" >Delay_15</option>
<option value="53" >Metering_Module_Alarm</option>
<option value="54" >CO2_Alarm</option>
<option value="55" >FloatValve_1_Open</option>
<option value="56" >FloatValve_1_Close</option>
<option value="57" >FloatValve_2_Open</option>
<option value="58" >FloatValve_2_Close</option>
<option value="59" >FloatValve_3_Open</option>
<option value="60" >FloatValve_3_Close</option>
<option value="61" >FloatValve_4_Open</option>
<option value="62" >FloatValve_4_Close</option>
<option value="63" >FloatValve_5_Open</option>
<option value="64" >FloatValve_5_Close</option>
<option value="66" >AC_Front_Contactor_1</option>
<option value="67" >AC_SFan_1</option>
<option value="68" >AC_RFan_1</option>
<option value="69" >AC_HotRunner_1</option>
<option value="70" >AC_Humidification_Valve_1</option>
<option value="71" >AC_Outside_Air_Damper_1</option>
<option value="78" >AC_Front_Contactor_2</option>
<option value="79" >AC_SFan_2</option>
<option value="80" >AC_RFan_2</option>
<option value="81" >AC_HotRunner_2</option>
<option value="82" >AC_Humidification_Valve_2</option>
<option value="83" >AC_Outside_Air_Damper_2</option>
<option value="91" >AnalogFunction_1_D</option>
<option value="93" >AnalogFunction_2_D</option>
<option value="95" >AnalogFunction_3_D</option>
<option value="97" >AnalogFunction_4_D</option>
<option value="99" >AnalogFunction_5_D</option>
<option value="101" >AnalogFunction_6_D</option>
<option value="103" >AnalogFunction_7_D</option>
<option value="105" >AnalogFunction_8_D</option>
<option value="107" >AnalogFunction_9_D</option>
<option value="109" >AnalogFunction_10_D</option>
<option value="111" >AnalogFunction_11_D</option>
<option value="113" >AnalogFunction_12_D</option>
<option value="115" >AnalogFunction_13_D</option>
<option value="117" >AnalogFunction_14_D</option>
<option value="119" >AnalogFunction_15_D</option>
<option value="121" >DigitalEncoder_1_D</option>
<option value="123" >DigitalEncoder_2_D</option>
<option value="125" >DigitalEncoder_3_D</option>
<option value="127" >DigitalEncoder_4_D</option>
<option value="129" >DigitalEncoder_5_D</option>
<option value="131" >DigitalEncoder_6_D</option>
<option value="133" >DigitalEncoder_7_D</option>
<option value="135" >DigitalEncoder_8_D</option>
<option value="137" >DigitalEncoder_9_D</option>
<option value="139" >DigitalEncoder_10_D</option>
<option value="140" >DOLINK_OUT_1</option>
<option value="141" >DOLINK_OUT_2</option>
<option value="142" >DOLINK_OUT_3</option>
<option value="143" >DOLINK_OUT_4</option>
<option value="144" >DOLINK_OUT_5</option>
<option value="145" >LogicGate_1</option>
<option value="146" >LogicGate_2</option>
<option value="147" >LogicGate_3</option>
<option value="148" >LogicGate_4</option>
<option value="149" >LogicGate_5</option>
<option value="150" >LogicGate_6</option>
<option value="151" >LogicGate_7</option>
<option value="152" >LogicGate_8</option>
<option value="153" >LogicGate_9</option>
<option value="154" >LogicGate_10</option>
<option value="155" >LogicGate_11</option>
<option value="156" >LogicGate_12</option>
<option value="157" >LogicGate_13</option>
<option value="158" >LogicGate_14</option>
<option value="159" >LogicGate_15</option>
<option value="165" >SwitchDevice_1</option>
<option value="166" >SwitchDevice_2</option>
<option value="167" >SwitchDevice_3</option>
<option value="168" >SwitchDevice_4</option>
<option value="169" >SwitchDevice_5</option>
<option value="170" >5DI1AI1AO3DO_1_DI1</option>
<option value="171" >5DI1AI1AO3DO_1_DI2</option>
<option value="172" >5DI1AI1AO3DO_1_DI3</option>
<option value="173" >5DI1AI1AO3DO_1_DI4</option>
<option value="174" >5DI1AI1AO3DO_1_DI5</option>
<option value="176" >5DI1AI1AO3DO_2_DI1</option>
<option value="177" >5DI1AI1AO3DO_2_DI2</option>
<option value="178" >5DI1AI1AO3DO_2_DI3</option>
<option value="179" >5DI1AI1AO3DO_2_DI4</option>
<option value="180" >5DI1AI1AO3DO_2_DI5</option>
<option value="182" >5DI1AI1AO3DO_3_DI1</option>
<option value="183" >5DI1AI1AO3DO_3_DI2</option>
<option value="184" >5DI1AI1AO3DO_3_DI3</option>
<option value="185" >5DI1AI1AO3DO_3_DI4</option>
<option value="186" >5DI1AI1AO3DO_3_DI5</option>
<option value="188" >5DI1AI1AO3DO_4_DI1</option>
<option value="189" >5DI1AI1AO3DO_4_DI2</option>
<option value="190" >5DI1AI1AO3DO_4_DI3</option>
<option value="191" >5DI1AI1AO3DO_4_DI4</option>
<option value="192" >5DI1AI1AO3DO_4_DI5</option>
<option value="194" >5DI1AI1AO3DO_5_DI1</option>
<option value="195" >5DI1AI1AO3DO_5_DI2</option>
<option value="196" >5DI1AI1AO3DO_5_DI3</option>
<option value="197" >5DI1AI1AO3DO_5_DI4</option>
<option value="198" >5DI1AI1AO3DO_5_DI5</option>
<option value="200" >5DI1AI1AO3DO_6_DI1</option>
<option value="201" >5DI1AI1AO3DO_6_DI2</option>
<option value="202" >5DI1AI1AO3DO_6_DI3</option>
<option value="203" >5DI1AI1AO3DO_6_DI4</option>
<option value="204" >5DI1AI1AO3DO_6_DI5</option>
<option value="206" >16DI_1_DI1</option>
<option value="207" >16DI_1_DI2</option>
<option value="208" >16DI_1_DI3</option>
<option value="209" >16DI_1_DI4</option>
<option value="210" >16DI_1_DI5</option>
<option value="211" >16DI_1_DI6</option>
<option value="212" >16DI_1_DI7</option>
<option value="213" >16DI_1_DI8</option>
<option value="214" >16DI_1_DI9</option>
<option value="215" >16DI_1_DI10</option>
<option value="216" >16DI_1_DI11</option>
<option value="217" >16DI_1_DI12</option>
<option value="218" >16DI_1_DI13</option>
<option value="219" >16DI_1_DI14</option>
<option value="220" >16DI_1_DI15</option>
<option value="221" >16DI_1_DI16</option>
<option value="222" >16DI_2_DI1</option>
<option value="223" >16DI_2_DI2</option>
<option value="224" >16DI_2_DI3</option>
<option value="225" >16DI_2_DI4</option>
<option value="226" >16DI_2_DI5</option>
<option value="227" >16DI_2_DI6</option>
<option value="228" >16DI_2_DI7</option>
<option value="229" >16DI_2_DI8</option>
<option value="230" >16DI_2_DI9</option>
<option value="231" >16DI_2_DI10</option>
<option value="232" >16DI_2_DI11</option>
<option value="233" >16DI_2_DI12</option>
<option value="234" >16DI_2_DI13</option>
<option value="235" >16DI_2_DI14</option>
<option value="236" >16DI_2_DI15</option>
<option value="237" >16DI_2_DI16</option>
<option value="238" >16DI_3_DI1</option>
<option value="239" >16DI_3_DI2</option>
<option value="240" >16DI_3_DI3</option>
<option value="241" >16DI_3_DI4</option>
<option value="242" >16DI_3_DI5</option>
<option value="243" >16DI_3_DI6</option>
<option value="244" >16DI_3_DI7</option>
<option value="245" >16DI_3_DI8</option>
<option value="246" >16DI_3_DI9</option>
<option value="247" >16DI_3_DI10</option>
<option value="248" >16DI_3_DI11</option>
<option value="249" >16DI_3_DI12</option>
<option value="250" >16DI_3_DI13</option>
<option value="251" >16DI_3_DI14</option>
<option value="252" >16DI_3_DI15</option>
<option value="253" >16DI_3_DI16</option>
<option value="254" >16DI_4_DI1</option>
<option value="255" >16DI_4_DI2</option>
<option value="256" >16DI_4_DI3</option>
<option value="257" >16DI_4_DI4</option>
<option value="258" >16DI_4_DI5</option>
<option value="259" >16DI_4_DI6</option>
<option value="260" >16DI_4_DI7</option>
<option value="261" >16DI_4_DI8</option>
<option value="262" >16DI_4_DI9</option>
<option value="263" >16DI_4_DI10</option>
<option value="264" >16DI_4_DI11</option>
<option value="265" >16DI_4_DI12</option>
<option value="266" >16DI_4_DI13</option>
<option value="267" >16DI_4_DI14</option>
<option value="268" >16DI_4_DI15</option>
<option value="269" >16DI_4_DI16</option>
<option value="270" >16DI_5_DI1</option>
<option value="271" >16DI_5_DI2</option>
<option value="272" >16DI_5_DI3</option>
<option value="273" >16DI_5_DI4</option>
<option value="274" >16DI_5_DI5</option>
<option value="275" >16DI_5_DI6</option>
<option value="276" >16DI_5_DI7</option>
<option value="277" >16DI_5_DI8</option>
<option value="278" >16DI_5_DI9</option>
<option value="279" >16DI_5_DI10</option>
<option value="280" >16DI_5_DI11</option>
<option value="281" >16DI_5_DI12</option>
<option value="282" >16DI_5_DI13</option>
<option value="283" >16DI_5_DI14</option>
<option value="284" >16DI_5_DI15</option>
<option value="285" >16DI_5_DI16</option>
<option value="286" >16DI_6_DI1</option>
<option value="287" >16DI_6_DI2</option>
<option value="288" >16DI_6_DI3</option>
<option value="289" >16DI_6_DI4</option>
<option value="290" >16DI_6_DI5</option>
<option value="291" >16DI_6_DI6</option>
<option value="292" >16DI_6_DI7</option>
<option value="293" >16DI_6_DI8</option>
<option value="294" >16DI_6_DI9</option>
<option value="295" >16DI_6_DI10</option>
<option value="296" >16DI_6_DI11</option>
<option value="297" >16DI_6_DI12</option>
<option value="298" >16DI_6_DI13</option>
<option value="299" >16DI_6_DI14</option>
<option value="300" >16DI_6_DI15</option>
<option value="301" >16DI_6_DI16</option>
<option value="302" >8UI4DO_1_DI1</option>
<option value="303" >8UI4DO_1_DI2</option>
<option value="304" >8UI4DO_1_DI3</option>
<option value="305" >8UI4DO_1_DI4</option>
<option value="306" >8UI4DO_1_DI5</option>
<option value="307" >8UI4DO_1_DI6</option>
<option value="308" >8UI4DO_1_DI7</option>
<option value="309" >8UI4DO_1_DI8</option>
<option value="318" >8UI4DO_2_DI1</option>
<option value="319" >8UI4DO_2_DI2</option>
<option value="320" >8UI4DO_2_DI3</option>
<option value="321" >8UI4DO_2_DI4</option>
<option value="322" >8UI4DO_2_DI5</option>
<option value="323" >8UI4DO_2_DI6</option>
<option value="324" >8UI4DO_2_DI7</option>
<option value="325" >8UI4DO_2_DI8</option>
<option value="334" >8UI4DO_3_DI1</option>
<option value="335" >8UI4DO_3_DI2</option>
<option value="336" >8UI4DO_3_DI3</option>
<option value="337" >8UI4DO_3_DI4</option>
<option value="338" >8UI4DO_3_DI5</option>
<option value="339" >8UI4DO_3_DI6</option>
<option value="340" >8UI4DO_3_DI7</option>
<option value="341" >8UI4DO_3_DI8</option>
<option value="350" >8UI4DO_4_DI1</option>
<option value="351" >8UI4DO_4_DI2</option>
<option value="352" >8UI4DO_4_DI3</option>
<option value="353" >8UI4DO_4_DI4</option>
<option value="354" >8UI4DO_4_DI5</option>
<option value="355" >8UI4DO_4_DI6</option>
<option value="356" >8UI4DO_4_DI7</option>
<option value="357" >8UI4DO_4_DI8</option>
<option value="366" >8UI4DO_5_DI1</option>
<option value="367" >8UI4DO_5_DI2</option>
<option value="368" >8UI4DO_5_DI3</option>
<option value="369" >8UI4DO_5_DI4</option>
<option value="370" >8UI4DO_5_DI5</option>
<option value="371" >8UI4DO_5_DI6</option>
<option value="372" >8UI4DO_5_DI7</option>
<option value="373" >8UI4DO_5_DI8</option>
<option value="382" >8UI4DO_6_DI1</option>
<option value="383" >8UI4DO_6_DI2</option>
<option value="384" >8UI4DO_6_DI3</option>
<option value="385" >8UI4DO_6_DI4</option>
<option value="386" >8UI4DO_6_DI5</option>
<option value="387" >8UI4DO_6_DI6</option>
<option value="388" >8UI4DO_6_DI7</option>
<option value="389" >8UI4DO_6_DI8</option>
<option value="398" >8UI4AO_1_DI1</option>
<option value="399" >8UI4AO_1_DI2</option>
<option value="400" >8UI4AO_1_DI3</option>
<option value="401" >8UI4AO_1_DI4</option>
<option value="402" >8UI4AO_1_DI5</option>
<option value="403" >8UI4AO_1_DI6</option>
<option value="404" >8UI4AO_1_DI7</option>
<option value="405" >8UI4AO_1_DI8</option>
<option value="414" >8UI4AO_2_DI1</option>
<option value="415" >8UI4AO_2_DI2</option>
<option value="416" >8UI4AO_2_DI3</option>
<option value="417" >8UI4AO_2_DI4</option>
<option value="418" >8UI4AO_2_DI5</option>
<option value="419" >8UI4AO_2_DI6</option>
<option value="420" >8UI4AO_2_DI7</option>
<option value="421" >8UI4AO_2_DI8</option>
<option value="430" >8UI4AO_3_DI1</option>
<option value="431" >8UI4AO_3_DI2</option>
<option value="432" >8UI4AO_3_DI3</option>
<option value="433" >8UI4AO_3_DI4</option>
<option value="434" >8UI4AO_3_DI5</option>
<option value="435" >8UI4AO_3_DI6</option>
<option value="436" >8UI4AO_3_DI7</option>
<option value="437" >8UI4AO_3_DI8</option>
<option value="446" >8UI4AO_4_DI1</option>
<option value="447" >8UI4AO_4_DI2</option>
<option value="448" >8UI4AO_4_DI3</option>
<option value="449" >8UI4AO_4_DI4</option>
<option value="450" >8UI4AO_4_DI5</option>
<option value="451" >8UI4AO_4_DI6</option>
<option value="452" >8UI4AO_4_DI7</option>
<option value="453" >8UI4AO_4_DI8</option>
<option value="462" >8UI4AO_5_DI1</option>
<option value="463" >8UI4AO_5_DI2</option>
<option value="464" >8UI4AO_5_DI3</option>
<option value="465" >8UI4AO_5_DI4</option>
<option value="466" >8UI4AO_5_DI5</option>
<option value="467" >8UI4AO_5_DI6</option>
<option value="468" >8UI4AO_5_DI7</option>
<option value="469" >8UI4AO_5_DI8</option>
<option value="478" >8UI4AO_6_DI1</option>
<option value="479" >8UI4AO_6_DI2</option>
<option value="480" >8UI4AO_6_DI3</option>
<option value="481" >8UI4AO_6_DI4</option>
<option value="482" >8UI4AO_6_DI5</option>
<option value="483" >8UI4AO_6_DI6</option>
<option value="484" >8UI4AO_6_DI7</option>
<option value="485" >8UI4AO_6_DI8</option>
<option value="494" >AC_AUTO_STA_1</option>
<option value="495" >AC_AUTO_STA_2</option>
</select>
</td>
<td></td>
</tr>
</table>
<div id="bhref1">
<input class="button3" type="submit" value="确认" onclick="javascript:document.f2.submit();"/>
</div>
</form>
<form action="{{V001}}" method="GET" name="f3">
<input name="W" value="{{V002}}" type="hidden"/>
<input name="NS" value="{{V099}}" type="hidden"/>
<div id="bhref1">
<input class="button3" type="submit" value="取消" onclick="javascript:document.f3.submit();"/>
</div>
</form>
</td>
</tr>
</table>
</div>
<page_property id="my_page" autoreload="false" autoreloadtime=3 title="上海源控自动化技术有限公司"></page_property>
