<div id="layer">
<table width="930" height="500" border="3" bordercolor="#888888" cellspacing="0">
<tr class="tr1">
<td rowspan="3" width="210"><image src="/public/yk.gif" align="right"></td>
<td class="td2"></td>
</tr>
<tr class="tr1">
<td class="td3">YK-BA6301空调系统控制器网页服务器</td>
</tr>
<tr class="tr1">
<td class="td2"></td>
</tr>
<tr class="tr2">
<td class="td1"></td>
<td class="td2" align="left" valign="top">
<br><br><br>
<form action="/sys/api/login" method="POST">
<table class="logt1" height="108" cellspacing="0">
<tr>
<td class="logd2">
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp用户名&nbsp&nbsp<input type="text" id="username" name="username" required="">
</td>
</tr>
<tr>
<td class="logd2">
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp密&nbsp&nbsp&nbsp码&nbsp&nbsp<input type="password" id="password" name="password" required="">
</td>
</tr>
<tr border="0" bordercolor="#ffffff">
<td border="0" bordercolor="#ffffff" valign="middle" align="right">
<input type="submit" name="login" value="登陆">
</td>
</tr>
</table>
</form>
</td>
</tr>
</table>
</div>
<page_property id="my_page" autoreload="false" autoreloadtime=3 title="上海源控自动化技术有限公司"></page_property>