<div id="layer">
<table width="930" height="600" border="3" bordercolor="#888888" cellspacing="0">
<tr class="tr1">
<td rowspan="3" width="210"><image src="/public/yk.gif" align="right"></td>
<td class="td2"></td>
</tr>
<tr class="tr1">
<td class="td3">{{V000}}通讯参数配置</td>
</tr>
<tr class="tr1">
<td class="td2">&nbsp/<a href="index.html">控制器配置</a>/<a href="rs485.html">RS485通讯口配置</a></td>
</tr>
<tr class="tr2">
<td class="td1" valign="top">
<div id="navigation">
<ul>
<li><a href="index.html">控制器配置</a></li>
<li><a href="ddcpins.html">输入/输出口配置</a></li>
<li><form action="/extend.html" method="GET" name="e3"><input name="W" value="34" type="hidden"><a href="javascript:e3.submit();">扩展模块</a></form></li>
<li><a href="pcfg.html">功能模块配置</a></li>
<li><a href="jump.html">硬件</a></li>
<li><form action="/systime.html" method="GET" name="e2"><input name="W" value="8" type="hidden"><a href="javascript:e2.submit();">日期/时间</a></form></li>
<li><form action="/backup.html" method="GET" name="e1"><input name="W" value="75" type="hidden"><a href="javascript:e1.submit();">配置数据备份</a></form></li>
</ul>
</div>
</td>
<td class="td2" align="left" valign="top"><br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

<form action="rs485.html" method="GET"><input class="img1" type="image" src="/public/ret.gif"/></form>

<table class="t1" cellspacing="0" height="125">

<tr><td class="t1d1">1</td><td class="t1d2">波特率</td><td class="t1d3"><form action="/bandl.html" method="GET" name="f1"><input name="W" value="4" type="hidden"><input name="C" value="2" type="hidden"><input name="V" value="{{V001}}" type="hidden"><input name="RET" value="/rs485cfg.html" type="hidden"><input name="RETW" value="3" type="hidden"><a href="javascript:f1.submit();">{{V005}}</a></form></td></tr>

<tr class="t1r1"><td class="t1d1">2</td><td class="t1d2">数据位</td><td class="t1d3"><form action="/datal.html" method="GET" name="f2"><input name="W" value="4" type="hidden"><input name="C" value="3" type="hidden"><input name="V" value="{{V002}}" type="hidden"><input name="RET" value="/rs485cfg.html" type="hidden"><input name="RETW" value="3" type="hidden"><a href="javascript:f2.submit();">{{V006}}</a></form></td></tr>

<tr><td class="t1d1">3</td><td class="t1d2">停止位</td><td class="t1d3"><form action="/stopl.html" method="GET" name="f3"><input name="W" value="4" type="hidden"><input name="C" value="4" type="hidden"><input name="V" value="{{V003}}" type="hidden"><input name="RET" value="/rs485cfg.html" type="hidden"><input name="RETW" value="3" type="hidden"><a href="javascript:f3.submit();">{{V007}}</a></form></td></tr>

<tr class="t1r1"><td class="t1d1">4</td><td class="t1d2">校验位</td><td class="t1d3"><form action="/parityl.html" method="GET" name="f4"><input name="W" value="4" type="hidden"><input name="C" value="5" type="hidden"><input name="V" value="{{V004}}" type="hidden"><input name="RET" value="/rs485cfg.html" type="hidden"><input name="RETW" value="3" type="hidden"><a href="javascript:f4.submit();">{{V008}}</a></form></td></tr>

<tr><td class="t1d1">5</td><td class="t1d2">从机地址</td><td class="t1d3"><form action="/txt.html" method="GET" name="f5"><input name="W" value="7" type="hidden"><input name="C" value="9360" type="hidden"><input name="V" value="{{V009}}" type="hidden"><input name="RET" value="/rs485cfg.html" type="hidden"><input name="RETW" value="3" type="hidden"><a href="javascript:f5.submit();">{{V009}}</a></form></td></tr>

</table>
</td>
</tr>
</table>
</div>
<page_property id="my_page" autoreload="false" autoreloadtime=3 title="上海源控自动化技术有限公司"></page_property>
