<div id="layer">
<table width="930" height="600" border="3" bordercolor="#888888" cellspacing="0">
<tr class="tr1">
<td rowspan="3" width="210"><image src="/public/yk.gif" align="right"></td>
<td class="td2"></td>
</tr>
<tr class="tr1">
<td class="td3">任务列表{{V001}}周计划表</td>
</tr>
<tr class="tr1">
<td class="td2">&nbsp/<a href="pcfg.html">功能模块配置</a>//<form style="margin:0px;display:inline;" action="/sch.html" method="GET" name="f1"><input name="W" value="46" type="hidden"><a href="javascript:f1.submit();">任务列表模块</a></form>/<form style="margin:0px;display:inline;" action="/schcfg.html" method="GET" name="f2"><input name="W" value="47" type="hidden"><input name="subW" value="1" type="hidden"><a href="javascript:f2.submit();">任务列表模块配置</a></form></td>
</tr>
<tr class="tr2">
<td class="td1" valign="top">
<div id="navigation">
<ul>
<li><a href="index.html">控制器配置</a></li>
<li><a href="ddcpins.html">输入/输出口配置</a></li>
<li><form action="/extend.html" method="GET" name="e3"><input name="W" value="34" type="hidden"><a href="javascript:e3.submit();">扩展模块</a></form></li>
<li><a href="pcfg.html">功能模块配置</a></li>
<li><a href="jump.html">硬件</a></li>
<li><form action="/systime.html" method="GET" name="e2"><input name="W" value="8" type="hidden"><a href="javascript:e2.submit();">日期/时间</a></form></li>
<li><form action="/backup.html" method="GET" name="e1"><input name="W" value="75" type="hidden"><a href="javascript:e1.submit();">配置数据备份</a></form></li>
</ul>
</div>
</td>
<td class="td2" align="left" valign="top"><br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<form action="/schcfg.html" method="GET" name="f3"><input name="W" value="47" type="hidden"><input name="subW" value="1" type="hidden"><input class="img1" type="image" src="/public/ret.gif"/></form>
<table class="t1" cellspacing="0" height="175">
<tr>
<td class="t1d1">1</td>
<td class="t1d2"><form action="/schtime.html" method="GET" name="f4"><input name="DAY" type="hidden" value="1"/><input name="W" type="hidden" value="47"/><input name="subW" value="3" type="hidden"><a href="javascript:f4.submit();">周一时间表配置</a></form></td>
<td class="t1d3"></td>
</tr>
<tr class="t1r1">
<td class="t1d1">2</td>
<td class="t1d2"><form action="/schtime.html" method="GET" name="f5"><input name="DAY" type="hidden" value="2"/><input name="W" type="hidden" value="47"/><input name="subW" value="3" type="hidden"><a href="javascript:f5.submit();">周二时间表配置</a></form></td>
<td class="t1d3"></td>
</tr>
<tr>
<td class="t1d1">3</td>
<td class="t1d2"><form action="/schtime.html" method="GET" name="f6"><input name="DAY" type="hidden" value="3"/><input name="W" type="hidden" value="47"/><input name="subW" value="3" type="hidden"><a href="javascript:f6.submit();">周三时间表配置</a></form></td>
<td class="t1d3"></td>
</tr>
<tr class="t1r1">
<td class="t1d1">4</td>
<td class="t1d2"><form action="/schtime.html" method="GET" name="f7"><input name="DAY" type="hidden" value="4"/><input name="W" type="hidden" value="47"/><input name="subW" value="3" type="hidden"><a href="javascript:f7.submit();">周四时间表配置</a></form></td>
<td class="t1d3"></td>
</tr>
<tr>
<td class="t1d1">5</td>
<td class="t1d2"><form action="/schtime.html" method="GET" name="f8"><input name="DAY" type="hidden" value="5"/><input name="W" type="hidden" value="47"/><input name="subW" value="3" type="hidden"><a href="javascript:f8.submit();">周五时间表配置</a></form></td>
<td class="t1d3"></td>
</tr>
<tr class="t1r1">
<td class="t1d1">6</td>
<td class="t1d2"><form action="/schtime.html" method="GET" name="f9"><input name="DAY" type="hidden" value="6"/><input name="W" type="hidden" value="47"/><input name="subW" value="3" type="hidden"><a href="javascript:f9.submit();">周六时间表配置</a></form></td>
<td class="t1d3"></td>
</tr>
<tr>
<td class="t1d1">7</td>
<td class="t1d2"><form action="/schtime.html" method="GET" name="fa"><input name="DAY" type="hidden" value="7"/><input name="W" type="hidden" value="47"/><input name="subW" value="3" type="hidden"><a href="javascript:fa.submit();">周日时间表配置</a></form></td>
<td class="t1d3"></td>
</tr>
</table>
</td>
</tr>
</table>
</div>
<page_property id="my_page" autoreload="false" autoreloadtime=3 title="上海源控自动化技术有限公司"></page_property>