<div id="layer">
<table width="930" height="600" border="3" bordercolor="#888888" cellspacing="0">
<tr class="tr1">
<td rowspan="3" width="210"><image src="/public/yk.gif" align="right"></td>
<td class="td2"></td>
</tr>
<tr class="tr1">
<td class="td3">通用开关量设备监控功能模块{{V001}}配置</td>
</tr>
<tr class="tr1">
<td class="td2">&nbsp/<a href="pcfg.html">功能模块配置</a>/<form style="margin:0px;display:inline;" action="/usc.html" method="GET" name="f1"><input name="W" value="140" type="hidden"><a href="javascript:f1.submit();">通用开关量设备监控功能模块配置</a></form></td>
</tr>
<tr class="tr2">
<td class="td1" valign="top">
<div id="navigation">
<ul>
<li><a href="index.html">控制器配置</a></li>
<li><a href="ddcpins.html">输入/输出口配置</a></li>
<li><form action="/extend.html" method="GET" name="e3"><input name="W" value="34" type="hidden"><a href="javascript:e3.submit();">扩展模块</a></form></li>
<li><a href="pcfg.html">功能模块配置</a></li>
<li><a href="jump.html">硬件</a></li>
<li><form action="/systime.html" method="GET" name="e2"><input name="W" value="8" type="hidden"><a href="javascript:e2.submit();">日期/时间</a></form></li>
<li><form action="/backup.html" method="GET" name="e1"><input name="W" value="75" type="hidden"><a href="javascript:e1.submit();">配置数据备份</a></form></li>
</ul>
</div>
</td>
<td class="td2" align="left" valign="top"><br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<form action="/usc.html" method="GET"><input name="W" value="140" type="hidden"><input class="img1" type="image" src="/public/ret.gif"/></form>
<table class="t1" cellspacing="0" height="300">
<tr>
<td class="t1d1"><form action="/uscnvicfg.html" method="GET"><input name="W" value="40" type="hidden"/><input name="NV" value="{{V002}}" type="hidden"/><input name="RET" value="/usccfg.html" type="hidden"/><input name="RETW" value="141" type="hidden"/><input class="imagebutton" type="image" src="/public/config.gif" alt="Attachment object" title="Attachment object"/></form></td>
<td class="t1d2">启停命令输入</td>
<td class="t1d3"><form action="/onoffl.html" method="GET" name="f2"><input name="W" value="4" type="hidden"/><input name="C" value="65380" type="hidden"/><input name="V" value="{{V014}}" type="hidden"/><input name="RET" value="/usccfg.html" type="hidden"/><input name="RETW" value="141" type="hidden"/><a href="javascript:f2.submit();">{{V023}}</a></form></td>
</tr>
<tr class="t1r1">
<td class="t1d1"><form action="/uscnvicfg.html" method="GET"><input name="W" value="40" type="hidden"/><input name="NV" value="{{V003}}" type="hidden"/><input name="RET" value="/usccfg.html" type="hidden"/><input name="RETW" value="141" type="hidden"/><input class="imagebutton" type="image" src="/public/config.gif" alt="Attachment object" title="Attachment object"/></form></td>
<td class="t1d2">设备状态输入</td>
<td class="t1d3"><form action="/onoffl.html" method="GET" name="f3"><input name="W" value="4" type="hidden"/><input name="C" value="65381" type="hidden"/><input name="V" value="{{V015}}" type="hidden"/><input name="RET" value="/usccfg.html" type="hidden"/><input name="RETW" value="141" type="hidden"/><a href="javascript:f3.submit();">{{V024}}</a></form></td>
</tr>
<tr>
<td class="t1d1"><form action="/uscnvicfg.html" method="GET"><input name="W" value="40" type="hidden"/><input name="NV" value="{{V004}}" type="hidden"/><input name="RET" value="/usccfg.html" type="hidden"/><input name="RETW" value="141" type="hidden"/><input class="imagebutton" type="image" src="/public/config.gif" alt="Attachment object" title="Attachment object"/></form></td>
<td class="t1d2">其它相关设备1状态输入</td>
<td class="t1d3"><form action="/onoffl.html" method="GET" name="f4"><input name="W" value="4" type="hidden"/><input name="C" value="65382" type="hidden"/><input name="V" value="{{V016}}" type="hidden"/><input name="RET" value="/usccfg.html" type="hidden"/><input name="RETW" value="141" type="hidden"/><a href="javascript:f4.submit();">{{V025}}</a></form></td>
</tr>
<tr class="t1r1">
<td class="t1d1"><form action="/uscnvicfg.html" method="GET"><input name="W" value="40" type="hidden"/><input name="NV" value="{{V005}}" type="hidden"/><input name="RET" value="/usccfg.html" type="hidden"/><input name="RETW" value="141" type="hidden"/><input class="imagebutton" type="image" src="/public/config.gif" alt="Attachment object" title="Attachment object"/></form></td>
<td class="t1d2">其它相关设备2状态输入</td>
<td class="t1d3"><form action="/onoffl.html" method="GET" name="f5"><input name="W" value="4" type="hidden"/><input name="C" value="65383" type="hidden"/><input name="V" value="{{V017}}" type="hidden"/><input name="RET" value="/usccfg.html" type="hidden"/><input name="RETW" value="141" type="hidden"/><a href="javascript:f5.submit();">{{V026}}</a></form></td>
</tr>
<tr>
<td class="t1d1"><form action="/uscnvicfg.html" method="GET"><input name="W" value="40" type="hidden"/><input name="NV" value="{{V006}}" type="hidden"/><input name="RET" value="/usccfg.html" type="hidden"/><input name="RETW" value="141" type="hidden"/><input class="imagebutton" type="image" src="/public/config.gif" alt="Attachment object" title="Attachment object"/></form></td>
<td class="t1d2">设备手动/自动状态输入</td>
<td class="t1d3"><form action="/aml.html" method="GET" name="f6"><input name="W" value="4" type="hidden"/><input name="C" value="65384" type="hidden"/><input name="V" value="{{V018}}" type="hidden"/><input name="RET" value="/usccfg.html" type="hidden"/><input name="RETW" value="141" type="hidden"/><a href="javascript:f6.submit();">{{V027}}</a></form></td>
</tr>
<tr class="t1r1">
<td class="t1d1"><form action="/uscnvicfg.html" method="GET"><input name="W" value="40" type="hidden"/><input name="NV" value="{{V007}}" type="hidden"/><input name="RET" value="/usccfg.html" type="hidden"/><input name="RETW" value="141" type="hidden"/><input class="imagebutton" type="image" src="/public/config.gif" alt="Attachment object" title="Attachment object"/></form></td>
<td class="t1d2">设备故障状态输入</td>
<td class="t1d3"><form action="/faultl.html" method="GET" name="f7"><input name="W" value="4" type="hidden"/><input name="C" value="65385" type="hidden"/><input name="V" value="{{V019}}" type="hidden"/><input name="RET" value="/usccfg.html" type="hidden"/><input name="RETW" value="141" type="hidden"/><a href="javascript:f7.submit();">{{V028}}</a></form></td>
</tr>
<tr>
<td class="t1d1"><form action="/uscnvicfg.html" method="GET"><input name="W" value="40" type="hidden"/><input name="NV" value="{{V008}}" type="hidden"/><input name="RET" value="/usccfg.html" type="hidden"/><input name="RETW" value="141" type="hidden"/><input class="imagebutton" type="image" src="/public/config.gif" alt="Attachment object" title="Attachment object"/></form></td>
<td class="t1d2">故障清除命令输入</td>
<td class="t1d3"><form action="/usccfg.html" method="GET"><input name="W" value="141" type="hidden"/><input name="RST" value="1" type="hidden"/><input type="submit" value="清除故障"/></form></td>
</tr>
<tr class="t1r1">
<td class="t1d1"><input class="imagebutton" type="image" src="/public/config.gif"/></td>
<td class="t1d2">设备状态检测延迟时间</td>
<td class="t1d3"><form action="/txt.html" method="GET" name="f8"><input name="W" value="7" type="hidden"/><input name="C" value="{{V011}}" type="hidden"/><input name="V" value="{{V020}}" type="hidden"/><input name="RET" value="/usccfg.html" type="hidden"/><input name="RETW" value="141" type="hidden"/><a href="javascript:f8.submit();">{{V020}}</a>秒</form></td>
</tr>
<tr>
<td class="t1d1"><input class="imagebutton" type="image" src="/public/config.gif"/></td>
<td class="t1d2">设备开启延迟时间</td>
<td class="t1d3"><form action="/txt.html" method="GET" name="f9"><input name="W" value="7" type="hidden"/><input name="C" value="{{V012}}" type="hidden"/><input name="V" value="{{V021}}" type="hidden"/><input name="RET" value="/usccfg.html" type="hidden"/><input name="RETW" value="141" type="hidden"/><a href="javascript:f9.submit();">{{V021}}</a>秒</form></td>
</tr>
<tr class="t1r1">
<td class="t1d1"><input class="imagebutton" type="image" src="/public/config.gif"/></td>
<td class="t1d2">设备停动延迟时间</td>
<td class="t1d3"><form action="/txt.html" method="GET" name="fa"><input name="W" value="7" type="hidden"/><input name="C" value="{{V013}}" type="hidden"/><input name="V" value="{{V022}}" type="hidden"/><input name="RET" value="/usccfg.html" type="hidden"/><input name="RETW" value="141" type="hidden"/><a href="javascript:fa.submit();">{{V022}}</a>秒</form></td>
</tr>
<tr>
<td class="t1d1"><form action="/uscnvocfg.html" method="GET"><input name="W" value="40" type="hidden"/><input name="NV" value="{{V009}}" type="hidden"/><input name="RET" value="/usccfg.html" type="hidden"/><input name="RETW" value="141" type="hidden"/><input class="imagebutton" type="image" src="/public/config.gif" alt="Attachment object" title="Attachment object"/></form></td>
<td class="t1d2">设备启停输出</td>
<td class="t1d3">{{V029}}</td>
</tr>
<tr class="t1r1">
<td class="t1d1"><form action="/uscnvocfg.html" method="GET"><input name="W" value="40" type="hidden"/><input name="NV" value="{{V010}}" type="hidden"/><input name="RET" value="/usccfg.html" type="hidden"/><input name="RETW" value="141" type="hidden"/><input class="imagebutton" type="image" src="/public/config.gif" alt="Attachment object" title="Attachment object"/></form></td>
<td class="t1d2">设备故障状态输出</td>
<td class="t1d3">{{V030}}</td>
</tr>
</table>
</td>
</tr>
</table>
</div>
<page_property id="my_page" autoreload="true" autoreloadtime=1 title="上海源控自动化技术有限公司"></page_property>