<div id="layer">
<table width="930" height="600" border="3" bordercolor="#888888" cellspacing="0">
<tr class="tr1">
<td rowspan="3" width="210"><image src="/public/yk.gif" align="right"></td>
<td class="td2"></td>
</tr>
<tr class="tr1">
<td class="td3">源控多合一空气质量传感器</td>
</tr>
<tr class="tr1">
<td class="td2">&nbsp/<form style="margin:0px;display:inline;" action="/extend.html" method="GET" name="f1"><input name="W" value="34" type="hidden"><a href="javascript:f1.submit();">扩展模块配置</a></form></td>
</tr>
<tr class="tr2">
<td class="td1" valign="top">
<div id="navigation">
<ul>
<li><a href="index.html">控制器配置</a></li>
<li><a href="ddcpins.html">输入/输出口配置</a></li>
<li><form action="/extend.html" method="GET" name="e3"><input name="W" value="34" type="hidden"><a href="javascript:e3.submit();">扩展模块</a></form></li>
<li><a href="pcfg.html">功能模块配置</a></li>
<li><a href="jump.html">硬件</a></li>
<li><form action="/systime.html" method="GET" name="e2"><input name="W" value="8" type="hidden"><a href="javascript:e2.submit();">日期/时间</a></form></li>
<li><form action="/backup.html" method="GET" name="e1"><input name="W" value="75" type="hidden"><a href="javascript:e1.submit();">配置数据备份</a></form></li>
</ul>
</div>
</td>
<td class="td2" align="left" valign="top"><br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<form action="/extend.html" method="GET"><input name="W" value="34" type="hidden"><input class="img1" type="image" src="/public/ret.gif"/></form>
<table class="t1" cellspacing="0" height="425">

<tr><td class="t1d1">1</td><td class="t1d2"><form action="/ykcswcfg.html" method="GET" name="f2"><input name="W" value="49" type="hidden"><input name="subW" value="1" type="hidden"><a href="javascript:f2.submit()">控制参数配置</a></form></td><td class="t1d3"></td></tr>

<tr class="t1r1"><td class="t1d1">2</td><td class="t1d2"><form action="/ykcswdata.html" method="GET" name="f3"><input name="W" value="49" type="hidden"><input name="subW" value="2" type="hidden"><input name="CH" value="1" type="hidden"><a href="javascript:f3.submit()">1号传感器测量数据配置</a></form></td><td class="t1d3"></td></tr>

<tr><td class="t1d1">3</td><td class="t1d2"><form action="/ykcswdata.html" method="GET" name="f4"><input name="W" value="49" type="hidden"><input name="subW" value="2" type="hidden"><input name="CH" value="2" type="hidden"><a href="javascript:f4.submit()">2号传感器测量数据配置</a></form></td><td class="t1d3"></td></tr>

<tr class="t1r1"><td class="t1d1">4</td><td class="t1d2"><form action="/ykcswdata.html" method="GET" name="f5"><input name="W" value="49" type="hidden"><input name="subW" value="2" type="hidden"><input name="CH" value="3" type="hidden"><a href="javascript:f5.submit()">3号传感器测量数据配置</a></form></td><td class="t1d3"></td></tr>

<tr><td class="t1d1">5</td><td class="t1d2"><form action="/ykcswdata.html" method="GET" name="f6"><input name="W" value="49" type="hidden"><input name="subW" value="2" type="hidden"><input name="CH" value="4" type="hidden"><a href="javascript:f6.submit()">4号传感器测量数据配置</a></form></td><td class="t1d3"></td></tr>

<tr class="t1r1"><td class="t1d1">6</td><td class="t1d2"><form action="/ykcswdata.html" method="GET" name="f7"><input name="W" value="49" type="hidden"><input name="subW" value="2" type="hidden"><input name="CH" value="5" type="hidden"><a href="javascript:f7.submit()">5号传感器测量数据配置</a></form></td><td class="t1d3"></td></tr>

<tr><td class="t1d1">7</td><td class="t1d2"><form action="/ykcswdata.html" method="GET" name="f8"><input name="W" value="49" type="hidden"><input name="subW" value="2" type="hidden"><input name="CH" value="6" type="hidden"><a href="javascript:f8.submit()">6号传感器测量数据配置</a></form></td><td class="t1d3"></td></tr>

<tr class="t1r1"><td class="t1d1">8</td><td class="t1d2"><form action="/ykcswdata.html" method="GET" name="f9"><input name="W" value="49" type="hidden"><input name="subW" value="2" type="hidden"><input name="CH" value="7" type="hidden"><a href="javascript:f9.submit()">7号传感器测量数据配置</a></form></td><td class="t1d3"></td></tr>

<tr><td class="t1d1">9</td><td class="t1d2"><form action="/ykcswdata.html" method="GET" name="fa"><input name="W" value="49" type="hidden"><input name="subW" value="2" type="hidden"><input name="CH" value="8" type="hidden"><a href="javascript:fa.submit()">8号传感器测量数据配置</a></form></td><td class="t1d3"></td></tr>

<tr class="t1r1"><td class="t1d1">10</td><td class="t1d2"><form action="/ykcswdata.html" method="GET" name="fb"><input name="W" value="49" type="hidden"><input name="subW" value="2" type="hidden"><input name="CH" value="9" type="hidden"><a href="javascript:fb.submit()">9号传感器测量数据配置</a></form></td><td class="t1d3"></td></tr>

<tr><td class="t1d1">11</td><td class="t1d2"><form action="/ykcswdata.html" method="GET" name="fc"><input name="W" value="49" type="hidden"><input name="subW" value="2" type="hidden"><input name="CH" value="10" type="hidden"><a href="javascript:fc.submit()">10号传感器测量数据配置</a></form></td><td class="t1d3"></td></tr>

<tr class="t1r1"><td class="t1d1">12</td><td class="t1d2"><form action="/ykcswdata.html" method="GET" name="fd"><input name="W" value="49" type="hidden"><input name="subW" value="2" type="hidden"><input name="CH" value="11" type="hidden"><a href="javascript:fd.submit()">11号传感器测量数据配置</a></form></td><td class="t1d3"></td></tr>

<tr><td class="t1d1">13</td><td class="t1d2"><form action="/ykcswdata.html" method="GET" name="fe"><input name="W" value="49" type="hidden"><input name="subW" value="2" type="hidden"><input name="CH" value="12" type="hidden"><a href="javascript:fe.submit()">12号传感器测量数据配置</a></form></td><td class="t1d3"></td></tr>

<tr class="t1r1"><td class="t1d1">14</td><td class="t1d2"><form action="/ykcswdata.html" method="GET" name="ff"><input name="W" value="49" type="hidden"><input name="subW" value="2" type="hidden"><input name="CH" value="13" type="hidden"><a href="javascript:ff.submit()">13号传感器测量数据配置</a></form></td><td class="t1d3"></td></tr>

<tr><td class="t1d1">15</td><td class="t1d2"><form action="/ykcswdata.html" method="GET" name="fg"><input name="W" value="49" type="hidden"><input name="subW" value="2" type="hidden"><input name="CH" value="14" type="hidden"><a href="javascript:fg.submit()">14号传感器测量数据配置</a></form></td><td class="t1d3"></td></tr>

<tr class="t1r1"><td class="t1d1">16</td><td class="t1d2"><form action="/ykcswdata.html" method="GET" name="fh"><input name="W" value="49" type="hidden"><input name="subW" value="2" type="hidden"><input name="CH" value="15" type="hidden"><a href="javascript:fh.submit()">15号传感器测量数据配置</a></form></td><td class="t1d3"></td></tr>

<tr><td class="t1d1">17</td><td class="t1d2"><form action="/ykcswdata.html" method="GET" name="fi"><input name="W" value="49" type="hidden"><input name="subW" value="2" type="hidden"><input name="CH" value="16" type="hidden"><a href="javascript:fi.submit()">16号传感器测量数据配置</a></form></td><td class="t1d3"></td></tr>

</table>
</td>
</tr>
</table>
</div>
<page_property id="my_page" autoreload="false" autoreloadtime=1 title="上海源控自动化技术有限公司"></page_property>