body{
font-size:13px;
background: #5b5b5b;
margin: 0px auto;
padding: 0 0 20px 0;
}

.lgoff{
margin-top:100px;
margin-left:60px;
}

.lgoff1{
margin-top:10px;
margin-left:60px;
}

.t1{
border:1px solid #aaaaaa;
width:600px;
margin-left:60px;
}

.t2{
border:2px solid #f0f0f0;
width:150px;
position:absolute;
top:580px;
left:749px;
}

.t1d1{
border:1px solid #ffffff;
width:45px;
padding-left:10px;
}

.t1d2{
border:1px solid #ffffff;
width:305px;
padding-left:10px;
}

.t1d3{
border:1px solid #ffffff;
width:250px;
padding-left:10px;
}

.t1d1A{
border:1px solid #aaaaaa;
width:45px;
padding-left:10px;
}

.t1d2A{
border:1px solid #aaaaaa;
width:305px;
padding-left:10px;
}

.t1d3A{
border:1px solid #aaaaaa;
width:250px;
padding-left:10px;
}

.t2d2{
border:1px solid #ffffff;
width:150px;
padding-left:10px;
}

.t2d3{
border:1px solid #ffffff;
width:345px;
padding-left:10px;
}

.t2d2e{
border:1px solid #ffffff;
width:170px;
padding-left:10px;
}

.t2d3e{
border:1px solid #ffffff;
width:325px;
padding-left:10px;
}

.t2d2p{
border:1px solid #ffffff;
width:185px;
padding-left:10px;
}

.t2d3p{
border:1px solid #ffffff;
width:370px;
padding-left:10px;
}

.t2d4{
border:1px solid #ffffff;
width:60px;
padding-left:10px;
}

.t3d2{
border:1px solid #ffffff;
width:555px;
padding-left:10px;
}

.t1d4{
border:1px solid #ffffff;
width:150px;
padding-left:10px;
}

.t1r1{
background-color:#f0f0f0;
}

.t5d2{
border:1px solid #ffffff;
width:365px;
padding-left:10px;
}

.t5d3{
border:1px solid #ffffff;
width:190px;
padding-left:10px;
}

.img1{
border:0px;
width:15px;
height:15px;
margin-left:60px;
}

.tr1{
height:24px;
}

.tr2{
height:522px;
}

.td1{
width:210px;
}

.td2{
width:720px;
}

.td3{
width:720px;
background-color:#f0f0f0;
text-align:center;
}

#layer{
background-color:#ffffff;
border:20px solid #dddddd;
width:930px;
height:600px;
margin-top:7px;
margin-left:7px;
float:left;
}

#layer1{
background-color:#ffffff;
border:20px solid #dddddd;
width:930px;
height:680px;
margin-top:7px;
margin-left:7px;
float:left;
}

#layer2{
background-color:#ffffff;
border:20px solid #dddddd;
width:930px;
height:630px;
margin-top:7px;
margin-left:7px;
float:left;
}

#layer3{
background-color:#ffffff;
border:20px solid #dddddd;
width:930px;
height:660px;
margin-top:7px;
margin-left:7px;
float:left;
}

#layer4{
background-color:#ffffff;
border:20px solid #dddddd;
width:930px;
height:810px;
margin-top:7px;
margin-left:7px;
float:left;
}

#layer5{
background-color:#ffffff;
border:20px solid #dddddd;
width:930px;
height:700px;
margin-top:7px;
margin-left:7px;
float:left;
}

#m ul{
list-style-type:none;
}

#m li{
line-height:20px;
}

#m li a{
margin-left:20px;
}

.button1{
margin-left:70px;
margin-top:10px;
}

.button2{
margin-left:535px;
margin-top:10px;
}

.button3{
margin-left:600px;
margin-top:10px;
}

.imagebutton{
width:12px;
height:15px;
}

.imagebutton1{
width:30px;
height:15px;
}

.dt1{
border:1px solid #dddddd;
width:150px;
padding-left:10px;
}

.dt2{
border:1px solid #dddddd;
width:75px;
padding-left:10px;
}

.gt1{
border:1px solid #ffffff;
border-left-color:#dddddd;
width:50px;
padding-left:10px;
}

.gt2{
border:1px solid #ffffff;
width:125px;
padding-left:10px;
}

.pfr{
border:1px solid #ffffff;
border-left-color:#dddddd;
font-weight:bold;
}

.ptd1{
border:1px solid #ffffff;
border-left-color:#dddddd;
width:75px;
padding-left:10px;
}

.ptd2{
border:1px solid #ffffff;
width:75px;
padding-left:10px;}

.ptd3{
border:1px solid #ffffff;
border-left-color:#dddddd;
width:20px;
padding-left:10px;
}

.ptd4{
border:1px solid #ffffff;
width:130px;
padding-left:10px;}

.ptd5{
border:1px solid #ffffff;
width:150px;
padding-left:10px;}

.ptd6{
border:1px solid #ffffff;
width:110px;
padding-left:10px;}

.ptd7{
border:1px solid #ffffff;
width:190px;
padding-left:10px;}

#act li{
float:left;
list-style-type:none;
text-decoration:none;
padding-top:4px;
display:block;
width:115px;
height:20px;
text-align:center;
background-color:#aaaaaa;
margin-left:20px;
}

#actin li{
float:left;
list-style-type:none;
}

#actin li a{
text-decoration:none;
padding-top:4px;
display:block;
width:115px;
height:20px;
text-align:center;
border-right-style:inset;
border-right-width:1px;
border-right-color:#aaaaaa;
background-color:#eeeeee;
margin-left:20px;
}

#actin li a:hover{
background-color:#eeeeee;
}

#act1 li{
float:left;
list-style-type:none;
text-decoration:none;
padding-top:4px;
display:block;
width:115px;
height:20px;
text-align:center;
background-color:#aaaaaa;
margin-left:0px;
}

#act1in li{
float:left;
list-style-type:none;
}

#act1in li a{
text-decoration:none;
padding-top:4px;
display:block;
width:115px;
height:20px;
text-align:center;
border-left-style:inset;
border-left-width:1px;
border-left-color:#aaaaaa;
background-color:#eeeeee;
margin-left:0px;
}

#act1in li a:hover{
background-color:#eeeeee;
}

#hwjump li{
float:left;
list-style-type:none;
text-decoration:none;
padding-top:4px;
display:block;
width:85px;
height:20px;
text-align:center;
color:#ffffff;
background-color:#000000;
margin-left:2px;
}

#hwjumpin li{
float:left;
list-style-type:none;
}

#hwjumpin li a{
text-decoration:none;
padding-top:4px;
display:block;
width:85px;
height:20px;
text-align:center;
color:#ffffff;
border-right-style:inset;
border-right-width:1px;
border-right-color:#000000;
background-color:#aaaaaa;
margin-left:2px;
}

#hwjumpin li a:hover{
background-color:#aaaaaa;
}

#hwwire li{
float:left;
list-style-type:none;
text-decoration:none;
padding-top:4px;
display:block;
width:85px;
height:20px;
text-align:center;
color:#ffffff;
background-color:#000000;
margin-left:0px;
}

#hwwirein li{
float:left;
list-style-type:none;
}

#hwwirein li a{
text-decoration:none;
padding-top:4px;
display:block;
width:85px;
height:20px;
text-align:center;
color:#ffffff;
border-left-style:inset;
border-left-width:1px;
border-left-color:#000000;
background-color:#aaaaaa;
margin-left:0px;
}

#hwwirein li a:hover{
background-color:#aaaaaa;
}

.img2{
margin-left:42px;
}

#DDC410pin li{
float:left;
list-style-type:none;
text-decoration:none;
padding-top:4px;
display:block;
width:115px;
height:20px;
text-align:center;
border-right-style:inset;
border-right-width:1px;
border-right-color:#aaaaaa;
background-color:#aaaaaa;
margin-left:20px;
}

#DDC410pinl li{
float:left;
list-style-type:none;
}

#DDC410pinl li a{
text-decoration:none;
padding-top:4px;
display:block;
width:115px;
height:20px;
text-align:center;
border-right-style:solid;
border-right-width:1px;
border-right-color:#aaaaaa;
background-color:#eeeeee;
margin-left:20px;
}

#DDC410pinl li a:hover{
background-color:#eeeeee;
}

#EXTENDpin li{
float:left;
list-style-type:none;
text-decoration:none;
padding-top:4px;
display:block;
width:115px;
height:20px;
text-align:center;
border-left-style:inset;
border-left-width:1px;
border-left-color:#aaaaaa;
background-color:#aaaaaa;
margin-left:0px;
}

#EXTENDpind li{
float:left;
list-style-type:none;
text-decoration:none;
padding-top:4px;
display:block;
width:115px;
height:20px;
text-align:center;
color:#ffffff;
border-left-style:solid;
border-left-width:1px;
border-left-color:#aaaaaa;
background-color:#eeeeee;
margin-left:0px;
}

#EXTENDpinl li{
float:left;
list-style-type:none;
}

#EXTENDpinl li a{
text-decoration:none;
padding-top:4px;
display:block;
width:115px;
height:20px;
text-align:center;
border-left-style:solid;
border-left-width:1px;
border-left-color:#aaaaaa;
background-color:#eeeeee;
margin-left:0px;
}

#EXTENDpinl li a:hover{
background-color:#eeeeee;
}

.logt1{
border:1px solid #aaaaaa;
width:432px;
margin-left:144px;
}

.logd1{
border:1px solid #ffffff;
width:432px;
padding-left:80px;
}

.logd2{
border:1px solid #ffffff;
width:432px;
padding-left:30px;
}

.buttonhref{
text-decoration:none;
}

#bhref a{
text-decoration:none;
margin-left:70px;
margin-top:10px;
}

#bhref1 a{
text-decoration:none;
margin-left:600px;
margin-top:10px;
}

#buttonhref a{
text-decoration:none;
}

.moduleaddtd1{
border:1px solid #ffffff;
width:400px;
padding-left:10px;
}

.moduleaddtd2{
border:1px solid #ffffff;
width:200px;
padding-left:10px;
}

#navigation{
width: 210px;
border-right: 1px solid #000;
padding: 0 0 1em 0;
margin-bottom: 1em;
font-size: 15px;
background-color: #f0f0f0;
color: #000000;
}

#navigation ul{
list-style-type: none;
margin: 0;
padding: 0;
border: none;
}

#navigation li{
margin: 0;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #ffffff;
}

#navigation li a{
display: block;
padding: 5px 5px 5px 1.5em;
background-color: #f0f0f0;
text-decoration: none;
width: 100%;
border-right-width: 10px;
border-left-width: 10px;
border-right-style: solid;
border-left-style: solid;
border-right-color: #f0f0f0;
border-left-color: #f0f0f0;
}

html>body #navigation li a{
width: auto;
}

#navigation li a:hover{
#background-color: #f0f0f0;
border-right-width: 10px;
border-left-width: 10px;
border-right-style: solid;
border-left-style: solid;
border-right-color: #ffffff;
border-left-color: #ffffff;
}